# fly.toml app configuration file generated for zenrube on 2025-11-16T13:30:44Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "zenrube"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[env]
  PYTHONUNBUFFERED = "1"
  ZENRUBE_DATA = "/data"

[[mounts]]
  source = "zenrube_data"
  destination = "/data"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.http_checks]]
    path = "/experts"
    interval = 15000
    timeout = 2000
    grace_period = "30s"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
